@charset "utf-8";

/*  -------------------------------------------------------------
    Zed
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    Author:         Dereckson
    Tags:           gray minimalist OpenSans lightheadings
    Filename:       trustspace.css
    Created:        2013-11-10
    Licence:        Creative Commons BY 3.0
    -------------------------------------------------------------    */

/*  -------------------------------------------------------------
    Fonts
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

/*  -------------------------------------------------------------
    Page
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */
html,
body {
  font-size: 100%;
}
  
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
    background-color: #333333;
    background-image: url('../img/bg.jpg');
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    height: 100%;
    position: relative;
}

p, td, th {
    font-size: 15px;
}

/*  -------------------------------------------------------------
    Spacing
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */

p,table {
    line-height: 2em;
    margin: 0; padding: 0;
    margin-left: 32px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0; padding: 0;
    margin-left: 24px;
}

section {
    margin-bottom: 2em;
}

/*  -------------------------------------------------------------
    Titles
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */

h1 {
    font-size: 48px;
}

h2 {
    font-size: 32px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

/*  -------------------------------------------------------------
    Links
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */

a {
    color: #99f;
}

/*  -------------------------------------------------------------
    Table
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */

table {
    padding: 1em 0 0 1em;
}

table td {
    padding: 0.5em 2em 0.5em 0.5em;
}

tr.children-one td:first-child {
    padding-left: 1.25em;
}

tr.children-two td:first-child {
    padding-left: 2.5em;
}

/*  -------------------------------------------------------------
    Header
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */

header {
    background-color: #222;
    height: 6em;
    margin: 0 0 2em 0;
    border-bottom: 1px solid black;
}

/*  -------------------------------------------------------------
    Footer
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */

footer {
    margin-top: 2em;
    padding-top: 1em;
    height: 8em;
    border-top: 1px solid black;
    background-color: #444;
}

footer p {
   font-size: 0.75em;
}